.settings
.project

/target

/sdk/bin
/sdk/target
/sdk/.project
/sdk/.settings
/sdk/.classpath
/sdk/.gitignore
/sdk/.factorypath

/database/bin
/database/target
/database/.project
/database/.settings
/database/.classpath
/database/.gitignore
/database/.factorypath

/website/bin
/website/target
/website/.project
/website/.settings
/website/.classpath
/website/.gitignore
/website/.factorypath

/permission/bin
/permission/target
/permission/.project
/permission/.settings
/permission/.classpath
/permission/.gitignore
/permission/.factorypath